@charset "ISO-8859-1";

body {
	font-family: 'Antic Didone';
	background-color: grey;
	text-align: center;
}

h1{
	text-align: center;
	color: white;
}

#registerForm{
	width:50%; 
    margin-left:25%; 
    margin-right:25%;
    height: 400px;
	border-style: dotted;
	border-width: thin;
	border-color: #FFD700;
}

table {
	font-family: 'Antic Didone';
	width:40%; 
    margin-left:30%; 
    margin-right:30%;
    margin-top: 10%;
    margin-bottom: 60%;
    height: 30%;
	background-color: grey;
	border-collapse:separate; 
    border-spacing:5px;
}

tr{
	text-align: center;
	color: white;
}

#submit{
	font-family: 'Antic Didone';
	color: grey; 
	font-size: 15px;
	border: none;
	background: none;
	
}

#profilePicture{
	text-align: right;
	font-family: 'Antic Didone';
	padding: 0px;
	bottom-border: 10px;
  	background: none;
}

tr:nth-of-type(6){
	font-family: 'Antic Didone';
	text-align: center;
	padding: 40px;
	bottom-border: 10px;
  	background: #FFD700;
}

table tr:nth-of-type(5) td:nth-of-type(2){
  background: none;
  font-family: 'Antic Didone';
  font-size: 15px;
}

#logo{
	position: absolute;
    top: 8px;
    left: 16px;
	font-family: 'Antic Didone';
	font-size: 40px;
    color: #FFD700;
    text-align: left;
    font-weight: bold;
}

#copyright{
	position: absolute;
    bottom: 8px;
	font-family: 'Antic Didone';
	font-size: 12px;
    color: #FFD700;
    text-align: center;
}

