@charset "ISO-8859-1";

body {
	font-family: 'Antic Didone';
	background-color: grey;
	text-align: center;
}

h1{
	text-align: center;
	color: white;
}

#registerForm{
	text-align: center;
	width:50%; 
    margin-left:25%; 
    margin-right:25%;
    height: 400px;
	border-style: dotted;
	border-width: thin;
	border-color: #FFD700;
}

table {
	position: fixed;
	left: 445px;
	top: 120px;
	horizontal-align: middle;
	vertical-align: middle;
	font-family: 'Antic Didone';
	background-color: grey;
	border-collapse:separate; 
    border-spacing:5px;
}

tr{
	
	float: center;
	width: 400px;
	height: 40px;
	text-align: left;
	color: white;
}

#submit{
	color: grey;
	width: 400px;
	height: 40px;
	font-family: 'Antic Didone';
	font-size: 20px;
	background: white;
	border-style: double;
	border-width: 1px;
	border-color: #FFD700;
	
}

#profilePicture{
	text-align: center;
	font-family: 'Antic Didone';
	padding: 0px;
	bottom-border: 10px;
  	background: none;
}

table tr:nth-of-type(5) td:nth-of-type(2){
  background: none;
  float: right;
  font-family: 'Antic Didone';
  font-size: 15px;
}

#logo{
	position: absolute;
    top: 8px;
    left: 16px;
	font-family: 'Antic Didone';
	font-size: 40px;
    color: #FFD700;
    text-align: left;
    font-weight: bold;
}

#copyright{
	position: absolute;
    bottom: 8px;
	font-family: 'Antic Didone';
	font-size: 12px;
    color: #FFD700;
    text-align: center;
}

