@charset "ISO-8859-1";

body {
	font-family: 'Antic Didone';
	background-color: #494949;
	text-align: center;
}

h1{
	font-family: 'Antic Didone';
	text-align: center;
	color: white;
	size: 200px;
}

h3{
	font-family: 'Antic Didone';
	text-align: center;
	color: white;
	size: 20px;
}

tr{
	text-align: center;
	width: 400px;
	height: 40px;
}
tr:nth-of-type(2), tr:nth-of-type(1){
	font-family: 'Antic Didone';
	line-height: 3em;
	padding: 40px;
	bottom-border: 10px;
  	background: white;
}

tr:nth-of-type(3){
	font-family: 'Antic Didone';
	padding: 40px;
	bottom-border: 10px;
  	background: #FFD700;
}

#submit{
	font-family: 'Antic Didone';
	color: #494949;
	font-size: 15px;
	border: none;
	background: none;
	
}

#registerButton{
	font-family: 'Antic Didone';
	color: #FFD700;
	font-size: 15px;
	border: none;
	background: none;
	
}

a{
	color: #FFD700;
	text-decoration: none;
}

a:hover, a:focus {
    text-decoration:underline;
}

tr:nth-of-type(4){
	font-family: 'Antic Didone';
	background: #494949;
    color: #FFD700;
    font-family: 'Antic Didone';
}


table tr:nth-of-type(1) td:first-of-type{
  background: white;
}
table {
	font-family: 'Antic Didone';
	width:40%; 
    margin-left:30%; 
    margin-right:30%;
    margin-top: 10%;
    margin-bottom: 60%;
    height: 30%;
	text-align: center;
	background-color: #494949;
	border-collapse: separate; 
    border-spacing: 5px;
}

::placeholder { 
	font-family: 'Antic Didone';
	font-size: 16px;
    color: #FFD700;
    text-align: center;
}

#box{
	width:50%; 
    margin-left:25%; 
    margin-right:25%;
    height: 350px;
	border-style: dotted;
	border-width: thin;
	border-color: #FFD700;
}

#logo{
	position: absolute;
    top: 8px;
    left: 16px;
	font-family: 'Antic Didone';
	font-size: 40px;
    color: #FFD700;
    text-align: left;
    font-weight: bold;
}

#copyright{
	position: absolute;
    bottom: 8px;
	font-family: 'Antic Didone';
	font-size: 12px;
    color: #FFD700;
    text-align: center;
}

